*{
    background-color: white;
}

.nav{
    display: flex;
    
}

#logo{
    width: 230px;
    height: 66px;
    top: 34px;
    left: 49px;
    border-radius: 123.5px;
}
#hug{
    top: 44px;
    left: 287px;
    padding: 10px;
    justify: space-between;

}
button{
    width: 223px;
    height: 49px;
    top: 43px;
    left: 1168px;
    border-radius: 23.5px;
}

#card1{

    width: 1386px;
    height: 742px;
    top: 155px;
    left: 27px;
    border-radius: 50px;

}